{% extends 'base.html.twig' %}

{% block body %}

                <div class="box-body table-responsive no-padding">
                    <h1>Ticketsfilm</h1>
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ ticketsfilm.id }}</td>
                        </tr>
                        <tr>
                            <th>Id</th>

                            <td>{{  ticketstheatre.getIdSes().getIdsceneFk().getTitreScene()}}</td>
                        </tr>
                        <tr>
                            <th>Id</th>

                            <td>{{ ticketstheatre.getIdSes().getDateDebut() }}</td>
                        </tr>
                        <tr>
                            <th>Id</th>

                            <td>{{ ticketstheatre.getIdUser() }}</td>
                        </tr>
                        </tbody>
                    </table>

{% endblock %}
