{% extends 'base.html.twig' %}

{% block body %}
    <!--wrapper-->
    <div class="wrapper">
        <div class="wrap">
            <!--hightlight news-->
            <div class="page-404">
                <h1>404</h1>
                <h3>Page Not Found</h3>

                <p>
                    The page requested couldn't be found.<br />
                    This could a spelling error in the URL or a removed page.
                </p>
                <a href="#" class="my-btn">Home Page</a>
            </div>
            <!--bottom-->
            <div class="bottom bottom-fix">
                <div class="bottom-inner">
                    <div class="bottom-col">
                        <div class="col-caption">
                            <span>RECENT POST</span>
                        </div>
                        <ul class="recent-post">
                            <li>
                                <p><a href="single-gallery.html">	Maecenas semper ante sed lectus egestas.</a></p>
                            </li>
                            <li>
                                <p><a href="single.html">	Proin eget tortor risus.</a></p>
                            </li>

                            <li>
                                <p><a href="single-fullwidth-special.html">	The beautifull girl.</a></p>
                            </li>

                            <li>
                                <p><a href="single-fullwidth-three-column.html">	Simply dummy text</a></p>
                            </li>

                            <li>
                                <p><a href="single-audio.html">	What The Font</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom-col">
                        <div class="col-caption">
                            <span>TAG CLOUD</span>
                        </div>
                        <div class="list-tags">
                            <p class="hidden"></p>
                            <a href="#"> special</a>
                            <a href="3.html"> USA</a>
                            <a href="#"> spotlight</a>
                            <a href="#"> Days news</a>
                            <a href="3.html"> review</a>
                            <a href="#"> spotlight</a>
                            <a href="#"> max in</a>
                            <a href="#"> special</a>
                            <a href="3.html"> cloud </a>
                            <a href="#"> spotlight</a>
                            <a href="#"> Lorem text</a>
                            <a href="3.html"> review</a>
                            <a href="#"> spotlight</a>
                            <a href="#"> sky blue</a>
                            <a href="3.html"> review</a>
                            <a href="#"> hot news</a>
                            <a href="#"> ciz themes</a>
                            <a href="3.html"> review</a>
                            <a href="#"> spotlight</a>
                            <a href="#"> spotlight</a>
                            <a href="#"> Lorem text</a>
                            <a href="3.html"> review</a>
                            <a href="#"> spotlight</a>
                            <a href="#"> sky blue</a>
                            <a href="3.html"> review</a>
                        </div>
                    </div>
                    <div class="bottom-col">
                        <div class="col-caption">
                            <span>INSTAGRAM</span>
                        </div>
                        <ul class="instagram-pics">
                            <li>
                                <a href="#">
                                    <img src="images/i1.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/i2.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/i3.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/i4.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/i5.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/i6.jpg" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}